/* FUENTES DE GOOGLE IMPORTADAS */
/* Con esto puedo importar fuentes que no tengo instaladas en mí computadora */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Source+Sans+3:wght@400;500;600&display=swap');

/* PALETA DE COLORES */
/* Según leí en internet, los colores se ponen en la pseudoclase :root para asegurarse de que sean aplicados a todo el proyecto */
/* Luego los puedo llamar con el valor var() en las propiedades de color */
:root {
    --azul-oscuro:  #1d3557;
    --azul-medio:   #457b9d;
     --azul-claro:   #a8dadc;
    --beige:        #f5f0e8;
    --beige-oscuro: #e0d6c4;
    --texto-oscuro: #2c2c2c;
    --texto-claro:  #ffffff;
    --borde:        #c9bfa8;
}

/* RESET PARA NAVEGADORES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', Georgia, serif;
    background-color: var(--beige); /* Con el atributo var(), puedo llamar a una variable. En este caso, un color que seteo en la pseudoclase :root. */
    color: var(--texto-oscuro); /* Color del texto dentro del body */
    line-height: 1.7; 
}

h1 {
    text-align: center;
    font-family: 'Source Sans 3', Georgia, serif;
    font-size: 48px;
    font-weight: bold;
    color: var(--azul-oscuro);
}

h2 {
    text-align: center;
    font-family: 'Source Sans 3', Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--azul-oscuro);
    /* border-bottom: 2px solid var(--azul-claro);  Borde de separación del título
    padding-bottom: 8px;
    margin-bottom: 24px;*/
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: var(--azul-medio);
}

p {
    font-size: 16pxº;
    color: var(--texto-oscuro);
    margin-bottom: 12px;
}

a {
    color: var(--azul-claro);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* BARRA DE NAVEGACIÓN */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-oscuro);
    padding: 16px;
}

.navbar-links {
    font-size: x-large;
    display: flex;
    gap: 32px;
    list-style: none;
}

/* BARRA DE NAVEGACIÓN DE INTERESES*/
.navbar-intereses {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-medio);
    padding: 16px;
}

.navbar-intereses-links {
    font-size: x-large;
    display: flex;
    gap: 32px;
    list-style: none;
}

.infografia {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;

}

.interes {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
} 

main {
    margin: 10px auto;
}

main h3 {
    text-align: center;
}

main h3 a {
    color: var(--texto-oscuro);
}

div p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

footer {
    background-color: var(--azul-oscuro);
}

footer p {
    color: var(--azul-claro);
    text-align: center;
    margin: 0;
}
